/* Products Header*/
header div:first-of-type div {
    width: 95%;
	margin-left:auto;
	margin-right:auto;
}	
header div:nth-of-type(2) div
{
	width:95%;
	margin-left:auto;
	margin-right:auto;
	background:transparent;
}	
.margin-lr div:first-of-type
{
	margin-right:41%;
}
header div:nth-of-type(3)
{
	margin-top:50px;
}
header div:nth-of-type(3),header div:nth-of-type(3) div
{
	height:200px;
	background:transparent;
	display:inline-block;
}
.brochure
{
	height:auto;
	min-height:450px;
	background:white;
	position:relative
}	
.inner_content
{
	margin-left:0%;
	width:45% !important;
	-webkit-transition: 0.5s left;
    -moz-transition: 0.5s left;
    -ms-transition: 0.5s left;
    -o-transition: 0.5s left;
}	
/*Product HEADER*/

/*Products inner*/
.second-part
{
	position: relative;
    top: -90px;
}	
.whole_products
{
	margin-left:2.5%;
	margin-right:2.5%;
	min-height: 1990px;
}	
.second-part ul li
{
	list-style:none;
	font-size:16px;
	line-height:36px;
}
.second-part ul li:first-of-type
{
font-size:24px;
}	
.recommended
{
	background:white;
	width:100%;
	height:320px;
}	
.recommended div 
{
	text-align:center;
}	
.recommended > div
{
	padding-top: 30px;
	padding-bottom:30px;
}	
.recommended div div
{
	width: auto;
    display: inline-block;
	color:black;
	width:20%;
	text-transform:none;
	text-align:center;
	font-size:14px;
	vertical-align:middle
}
	
.recommended div div div
{
	width:100%;
}	
.recommended span
{
	margin-right:5px;
}	
.recommended img
{
	position:relative;
	vertical-align: middle;
}
.recommended div div img
{
	width: auto;
    height: 180px;
    max-width: 100%;
}	
.recommended div img:first-of-type
{
    margin-right: 3%;
}
.recommended img:last-of-type
{
    margin-left: 3%;
}	
.price
{
	font-weight:bold;
}
.choice button
{
	display:inline-block;
	width:45%;
	height:50px;
	border:1px solid #3c322d;
	border-radius:2px;
    vertical-align: top;
}	
.for_best
{
	margin-top: -383px;
}	

.supply div
{
	width:100%;
	height:auto;
}	
.supply > div:nth-of-type(2)
{
	height:300px;
}	
.supply div div
{
	width:31.8%;
	margin-right:1%;
	margin-bottom:1%;
    max-height: 271px;
    height: 100%;
	display:inline-block;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	vertical-align: top;
}
.supply div div div
 {
    width: 96%;
    height: 95%;
    margin: 2% !important;
}
.supply div div div:hover
 {
    -webkit-box-shadow: inset 0px 0px 300px 200px rgba(0,0,0,0.49);
-moz-box-shadow: inset 0px 0px 300px 200px rgba(0,0,0,0.49);
box-shadow: inset 0px 0px 300px 200px rgba(0,0,0,0.49);
}
.supply div div:hover
{
	-webkit-box-shadow: inset 0px 0px 124px 200px rgba(0,0,0,0.42);
-moz-box-shadow: inset 0px 0px 124px 200px rgba(0,0,0,0.42);
box-shadow: inset 0px 0px 124px 200px rgba(0,0,0,0.42);
	
}	
.supply div div:nth-of-type(3),.supply div div:nth-of-type(6)
{
	margin-right:0;
}	
@media only screen and (min-width: 1277px)
{
.supply div div:nth-of-type(3),.supply div div:last-of-type
{
	margin-right:0;
}	
.supply div div:nth-of-type(4),.supply div div:nth-of-type(5),.supply div div:nth-of-type(6)
{
	margin-bottom:0;
}
}
#first_butt
{
	background:#fff5e6;
}	
#second_butt
{
	background:#3c322d;
	color:white;
}	
.choice
{
	width:250%;
}	
.items
{
	height:200px;
}	
.generals
{
	display:inline-block;
	float:right;
	color:white;
	width:80%;
	text-transform:uppercase;
}
.generals > div:first-child
{
	margin-bottom:20px;
}	
.left_menu
{
	display:inline-block;
	color:#f5ebdd;
	font-weight:bold;
	width:20%
}
 .inner_content 
 {
    padding-top: 90px;
	padding-bottom:90px;
 }
/*Products inner*/

/*HEADER*/
	
body
{
	background-image:url('images/back.png');
	background-color:#3c322d;
	background-repeat:no-repeat;
	margin:0;
	font-family: 'Open Sans', sans-serif;

}	
h2
{
	margin:0;
}
a
{
	text-decoration:none;
	color:white;
}
.fa
{
	display:none !important;
	z-index:2;
}	
.lang a
{
	color:black;
}
	
form
{
	position:relative;
}	
input
{
	width:247px;	
	height:25px;
	position:relative;
}
input#first
{
	background: url(images/search.png) no-repeat scroll;
    background-size: contain;
    padding-left: 35px;
	border:1px solid grey;
	height:27px;
	transition-timing-function: ease-in;
}	
input#first:focus
{
	-webkit-box-shadow: 0px 0px 150px 22px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 150px 22px rgba(0,0,0,0.75);
box-shadow: 0px 0px 150px 22px rgba(0,0,0,0.75);
transition: 1s;
}	



input[type="search"]::-webkit-input-placeholder {
  text-align:right;
  font-size:15px;
}
input[type="text"]::-webkit-input-placeholder {
  padding-left:6px;
}
label
{
	z-index:1;
	margin-top: 6px;
	right:10px;
}	
form
{
	display:inline-block;
}	
header div
{
	height:50px;
	background:#fff5e6;
}
.home header div:first-of-type div
{
	width:74%;
}
.home header div:nth-of-type(3)
{
	margin-top:100px;
}	
.home header div:nth-of-type(3),header div:nth-of-type(3) div
{
	height:auto;
}	
#welcome
{
	display:inline-block;
	text-align:center !important;
	font-weight:normal;
	height: 255px;
    vertical-align: middle;
	border:none;
}	
.margin-lr
{
	text-align:center;
	width:auto;
	height:auto;
}	
.margin-lr.loggo
{
	width:100%;
}	
.home .margin-lr div:first-of-type
{
	margin-right:20%;
}
.menu
{
	background:transparent;
	margin-bottom:30px;	
	transition-timing-function: ease-in;

  /* Quick on the way out */

}
.menu ul li:hover
{
-webkit-box-shadow: 0px 0px 114px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 114px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 114px -2px rgba(0,0,0,0.75);
transition: 1s;
}
.menu ul
{
	list-style:none;
	color:white;
	text-transform:uppercase;
	padding:0;
	text-align: center;
}	
.menu ul li
{
	display:inline-block;
	margin-right:3%;
	padding:15px;
}	
.menu ul li:last-of-type
{
	margin-right:0;
}	
header div span
{
	margin-right:1%;
	height:calc(100% - 10px);
    margin-top: 10px;
    display: inline-block;
	font-size:12.5px ;
	padding:0 8px;
	vertical-align: middle;
}
p
{
	margin: 5px 0;
}
header div span .supp
{
	font-weight:bold;
	font-weight:14px !important;
}		
.cart
{
vertical-align:middle;
}	
.cart p
{
	display:inline-block;
	vertical-align: bottom;
}	
header div:nth-of-type(2) span
{
	margin-right:0;
	height:auto;
}
header div:nth-of-type(2) span:first-of-type,header div:nth-of-type(2) span:nth-of-type(2)
{
	margin-top:15px;
    font-weight: bold;
}	
.home header div:nth-of-type(2) div
{
	width:74%;
	margin-left:auto;
	margin-right:auto;
	background:transparent;
}	
header div:first-of-type span:first-of-type
{
	font-weight:bold;
	text-transform:uppercase;
	font-size:14px;
}
button	
{
	text-transform:uppercase;
	background:transparent;
	border:none;
	border-right:1px solid grey;
}	
button:last-of-type
{
	border:none;
}	
header div:nth-of-type(2)
{
	background:transparent;
	color:white;
	text-transform:uppercase;
	font-size:13px;
	border-bottom:1px solid white;
}
header div:nth-of-type(2) span:first-of-type
{
	border-right:2px solid white;
}	
header div span:last-of-type
{
	float:right;
}
.info
{
	display:none;
}	
.search
{
	display:none;
	vertical-align:middle;
}
	@import "compass/css3";

.square {
  background: #eee;
  display: block !important;
  width: 200px !important;
  height: 200px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px auto auto -100px;
  z-index: 11111;
}



/*HEADER    END*/
ul
{
	padding:0;
}	
a
{
	text-decoration:none;
	color:white;
}

.home .brochure
{
	width:74%;
	margin-left:13%;
	margin-left:13%;
}

.home .big_brochure
{
	display:inline-block;
	width:100%;
	vertical-align:middle;
}	
.brochure div div div div
{
	display:inline-block;
	width:45%;
	vertical-align:middle;
}	

.brochure div img
{
	vertical-align:middle;

}
.brochure div div div.big_brochure
{
	width:100% !important;
}	
.brochure div.inner_content.fade img
{
	width:30%;
}

.inner_content.fade div div	
{
	width:58%;
	color:black;
}	
.contains > div
{
	margin-top:70px;
	margin-bottom:110px;
}	
.contains > div
{
	width:100% !important;
}
 .inner_content
{
	margin-left:0;
	width:45% !important;
	position:relative;
}	
.inner_content:first-of-type
{
	margin-left:7%;
}	
.home .inner_content
{
	margin-left:15%;
	width:85% !important;
	margin-top: 90px;
	height:auto;
	padding:0;
}	
#right
{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}	
#active
{
	    display: block;
    float: right;
    position: absolute;
    bottom: -1px;
    right: 0;
	
}	
.contains
{
	margin-left:auto;
	margin-right:auto;
	width:100% !important;
}
.contains > *
{
	vertical-align:middle;
}	
.second ul
{
	text-transform:none !important;
	margin: 60px 0px 40px;
}		
.second.menu ul li
{
	margin-right:13%;
	font-weight:bold;
}	
.second.menu ul li:last-of-type
{
	margin-right:0;
}	
/*Slider*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.prev,.next
{
	    position: absolute;
    top: 40%;
}	
.next
{
	right:0;
}	
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*FOOTER*/
::-webkit-input-placeholder { color:black;font-size:16px;font-family:'Open Sans' }
::-moz-placeholder { color:black;font-size:16px;font-family:'Open Sans' } /* firefox 19+ */
:-ms-input-placeholder { color:black;font-size:16px;font-family:'Open Sans' } /* ie */
input:-moz-placeholder { color:black;font-size:16px;font-family:'Open Sans'}	
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */
.footer_menu ul
{
	color:white;
	list-style:none;
}	
footer.margin-lr div
{
	display:inline-block;
	vertical-align:top;
	margin-right:7% !important;	
}	
footer.margin-lr div:nth-of-type(2),footer.margin-lr div:nth-of-type(3)
{
	margin-right:5% !important;
}	
footer.margin-lr div:last-of-type
{
	margin-right:0% !important;
}	
.footer_menu ul li
{
	line-height:40px;
	text-align: left;
}
.footer_menu ul.social li
{
	line-height:0;
}	
.footer_menu ul.social li:first-of-type
{
	line-height:40px;
}	
.footer_menu ul li:first-of-type
{
	font-weight:bold;
}	
footer input,footer #sec_input
{
	background:#c2b59b;
	border:none;
	border-radius:2px;
	height:40px;
	width: 230px;
	margin-bottom:10px;
}
footer #sec_input	
{
	background:#645a4e;
	text-transform:none;
	font-size:16px;
	text-align:left;
}
.social
{
	width:160px;
}
.social li
{
	margin-bottom:10px;
}	
.social div
{
	width:65px;
	height:65px;
	    background-size: contain !important;
    background-repeat: no-repeat !important;
	display:inline-block;
	margin-right:0;
}	
.first_of
{
	margin-right:17px !important;
}	
.pay_for
{
	width: 210px;
}		
.pay_for div
{
	width: 60px;
    height: 39px;
}	
	
@media only screen and (max-width:1110px)
{
	.margin-lr div:first-of-type
	{
		margin:0
	}	
	.margin-lr
	{
		text-align: center;
	}	
}
@media only screen and (max-width:1024px)
{
	.supply div div
	{
		max-height: 273px;
		height: auto;
		min-height: 180px;
		background-size: cover !important;
		background-position: center center !important;
	}
	.whole_products 
	{
		min-height:auto;
	}	
	.left_menu
	{
		display:none;
	}	
	.for_best
	{
		margin-top:0;
	}	
	.generals
	{
		width:100%;
	}	
	.brochure, .home .brochure
	{
		margin-left: 0;
		width: 100%;
	}	
	
	.home .margin-lr div:first-of-type 
	{
		margin-right:0;
	}
	input#first
	{
		background:#fff5e6;
	}	
	header  div div
	{
		width:100% !important;
		margin:0;
	}
	.margin-lr.menu 
	{
		margin-left: 0%;
	}
	header div:first-of-type div span:nth-of-type(2),header div:first-of-type div span:nth-of-type(3)
	{
		display:none;
	}		
	
}	
@media screen and (max-width: 1252px) and (min-width: 1024px)
{
	
	.home .lang a
	{
		color:white;
	}
	
}	
@media only screen and (max-width:860px)
{
	
	.inner_content:first-of-type 
	{
		padding-top: 90px;
		padding-bottom:0;
	}	
	.inner_content:last-of-type 
	{
		padding-top: 0;
		padding-bottom:90px;
	}	
	.inner_content:first-of-type
	{
		margin-left:0;
	}	
	.home .inner_content 
	{
		margin-left: 7%;
		padding-top:0;
	}
	.brochure div div div.inner_content div
	{
		display:block;
		width:100%;
		text-align:center;
	}
	.inner_content 
	{
		margin-left: auto;
		margin-right:auto;
		width:95% !important;
	}
	.brochure div div div.inner_content div img
	{
		width:20% !important;
	}	

	#welcome
	{
		height:100px;
	}

	.logo
	{
		width:50%;
	}		

	.pay_for
	{
		margin-left: auto;
		margin-right: auto;
	}
	.first_of
	{
		margin-right:0px !important;
	}
	.second.menu ul li 
	{
		margin-right: 5%;
	}
	
	.footer_menu > div
	{
		width:100%;
		text-align:center !important;
		display:inline-block;
	}	
	footer.margin-lr div,footer.margin-lr div:nth-of-type(3),footer.margin-lr div:nth-of-type(2)
	{
		margin-right:0 !important;
	}	
	.margin-lr:last-of-type h4,.margin-lr:last-of-type li
	{
		text-align:center !important;
	}	
	.social
	{
		width:auto;
	}	
	.recommended div div.items
	{
		width:30%;
		height:auto;
	}	
	.recommended
	{
		height:auto;
		position:relative;
	}	
	.recommended img.prev,.recommended img.next
	{
		margin:0;
		position:absolute;
		top:270px;
	}
	.recommended img.prev	
	{
		left:0;
	}	
}	
@media only screen and (max-width:700px)
{
	.menu
	{
		display:none;
	}	
	.firstt li
	{
		display:block !important;
		text-align:center;
		width:100%;
		padding-left:0 !important;
		padding-right:0 !important;
		-webkit-box-shadow: inset 10px 10px 113px 200px rgba(0,0,0,0.77);
		-moz-box-shadow: inset 10px 10px 113px 200px rgba(0,0,0,0.77);
		box-shadow: inset 10px 10px 113px 200px rgba(0,0,0,0.77);
		z-index:10000;
		
	}	
	.firstt
	{
		width:100%;
		z-index:1
	}	
	.cart {
    vertical-align: middle;
    position: absolute;
    top: 50px;
    right: 0;
	}	
	.fa
	{
		display:block !important;
		position:absolute;
		top:110px;
		left:10px;
		color:white;
	}	
	.recommended div div.items 
	{
		width: 40%;	
		vertical-align: top;
	}
}
@media only screen and (max-width:600px)	
{
	
	.supp, #first
	{
		display:none;
	}
	.info,.search
	{
		display:inline-block;
	}	
	.inner_content.fade
	{
		display:block;
	}	
}	
@media only screen and (max-width:460px)	
{
	#active
	{
		width:100%;
	}
	.brochure
	{
		margin-left: 0;
		width: 100%;
	}	
	.prev, .next 
	{
		top: 50%;
	}
	.recommended div div.items 
	{
		width: 80%;
	}
	.supply div div 
	{
		width: 100%;
	}
	.supply > div:nth-of-type(2) 
	{
		height: auto;
	}
}